application:
  auth:
    apikey: <YourAPIKEY>
    apisecretkey: <YourAPISECRET>
    passphrase: 5kc7ylps3w
  product:
    name: LTC-EUR
    type: LTC
  trader:
    stoporder:
      negatifWaitPourcent: 2.5
      beneficeMinimumAvantDeplacementStopOrder: 1.5
      beneficeMinPoucent: 0.5
      beneficeFollowPourcent: 1
  historique:
    logTendance: false
    computeDelay: 60000
